{{ attach_library('govuk_integrations_pay_webform/confirmation') }}
<div>
    <div id="gov_uk_header">
        <div class="logo"></div>
    </div>
    <div id="default_message">
        <p>
            Your payment of {{ payment_amount }} currently has
            a status of <span class="payment-status">{{ payment_status }}</span>.
        </p>
        <p>
            This status may update as your payment is processed, so please
            reload this page if your payment is not yet complete.
        </p>
        <p>
            Please note that some payment providers can take up to 1 hour
            to process a payment, so feel free to come back to this page at a later time.
        </p>
        <p>
            Additionally, the email address you provided during your payment
            will be notified once your payment has been processed.
        </p>
    </div>
    <div id="confirmation-message">
        {{ confirmation_message }}
    </div>
</div>